HOME_GATEWAY_HOST=127.0.0.1
HOME_GATEWAY_PORT=8790
HOME_GATEWAY_TOKEN=change-me-long-random-token

WINDOWS_PC_IP=192.168.1.10
WINDOWS_PC_MAC=00:11:22:33:44:55
WINDOWS_WOL_BROADCAST=192.168.1.255
WINDOWS_WOL_INTERFACE=enp3s0

WINDOWS_API_BASE_URL=http://192.168.1.10:8765
WINDOWS_API_TOKEN=change-me-long-random-token
WINDOWS_API_TIMEOUT_SECONDS=12
